<div class="page-header">
  <h3>Assignment #<%= @assignment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Course</dt>
      <dd>
        <% if @assignment.course.present? %>
          <a href="/courses/<%= @assignment.course_id %>">
            <%= @assignment.course.user_id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/assignments" class="btn btn-primary">
        Back
      </a>
      <a href="/assignments/<%= @assignment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_assignment/<%= @assignment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
